.GachaContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LogoutButton {
  position: absolute;
  top: 10px;
  right: 5%;
}
.Logout {
  position: absolute;
  margin-top: 20px;
}
.Gacha {
  margin-top: 100px;
}
.GachaBtn {
  margin-top: 525px;
  margin-left: -180px;
  position: absolute;
  transition: transform 1s linear;
  transform-origin: center center;
}
.GachaBtn-rotate {
  /* animation: spin 2s linear infinite;  */
  transform: rotate(360deg);
}
.playBtn {
  margin-top: 40px;
  width: 100px;
  height: 50px;
  position: relative;
}

.GachaBack{
  background: #eeeeee;
  position: relative;
  background-image: url(../resources/guide.png),url(../resources/playit.gif);
  background-size: 30%;
  background-position: 10% 70%, 90% 40%;
  background-repeat: no-repeat;
}

.GachaBall-anima {
  /* animation: spin 2s linear infinite; */
  opacity: 1;
  transform: translateY(25px);
}

.GachaBack{
  background: #eeeeee;
  position: relative;
  background-image: url(../resources/guide.png),url(../resources/playit.gif);
  background-size: 30%;
  background-position: 10% 70%, 90% 40%;
  background-repeat: no-repeat;
}